.article_container {
  display: grid;
  grid-template-columns: 0.5fr 4.5fr;
  gap: 20px;
  width: 100%;
}

.article_index {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 90px;
}
